button{
    font-family: 'Bebas Neue',cursive;
    background-color: $orangeColor;
    color: #ffffff;
    border-radius: 30px;
    padding: 10px 24px 7px 24px;
    border: none;
    // text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    font-size: 18px;
    width: auto;
    height: auto;
    &:disabled{
        opacity: 0.5;
    }
}
