$backgroundColor:#101012;
$orangeColor:#E75626;
$font-family: 'Bebas Neue', cursive;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 100vw;
    min-height: 100vh;
    overflow-y: auto;
    background-color: $backgroundColor;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
@mixin planet-circles{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #323232;
    background-color: #1e1e20;
    border-radius: 50%;
}
@mixin button{
    font-family: 'Bebas Neue',cursive;
    background-color: $orangeColor;
    color: #ffffff;
    border-radius: 30px;
    padding: 10px 24px 7px 24px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 18px;
    width: auto;
    height: auto;
}
@mixin large-desktop {
    @media screen and (min-width:1320px){
        @content
    }
};
@mixin media-desktop {
    @media screen and (max-width:1190px){
        @content
    }
};
@mixin small-desktop {
    @media screen and (max-width:1020px){
        @content
    }
};
@mixin small-desktop-title {
    @media screen and (max-width:710px){
        @content
    }
};
@mixin user-page-media {
    @media screen and (max-width:925px){
        @content
    }
};