@include large-desktop{
    .body__top{
        &-text{
            font-size: 56px;
            top:50px;
        }
        &-hidden{
            top: 50px;
            font-size:56px;
            z-index: 5;
            clip-path: circle(160px at 800px 135px);
        }
    }
    .planet-circle{
        top:-50px;
        left: 630px;
    }
    .planet-img{
        width: 320px;
        height: 320px;
    }
    .line-1{
        width: 370px;
        height: 370px;
        @include planet-circles;
    }
    .line-2{
        width: 384px;
        height: 384px;
        @include planet-circles
    }
    .line-3{
        width: 380px;
        height: 380px;
        @include planet-circles
    
    }
    .line-4{
        width: 470px;
        height: 470px;
    }
    .roadmap{
        top:50px;
        width: auto;
        &__title{
            font-size: 36px;
        }
        &-numbers{
            font-size: 30px;
        }
        &-data{
            font-size: 25px;
        }
    }
    
}
@include media-desktop{
    .roadmap{
        position: relative;
        left: 0;
        top:300px;
        flex-direction: row;
        width: auto;
        &__title{
            width: auto;
            margin-right: 50px;
            margin-bottom: 0;
            text-align: center;
        }
        .underline {
            width: 1px;
            height: 50px;
        }
    }
}
@include small-desktop{
    .body__top{
        margin-bottom: 0;
        margin-top: 0;
        flex-direction: column;
       align-items: center;
       justify-content: center;
       padding: 50px;
       gap:50px;
       &-text{
        position: relative;
        top:0;
        left:0;    
        font-size: 36px;
        text-align: center;      
        }
        &-hidden{
            display: none;
        }
    }
    .roadmap{
        position: relative;
        top: -50px;
        flex-direction: row;
        width: auto;
        &__title{
            width: auto;
            margin-right: 50px;
            margin-bottom: 0;
            text-align: center;
        }
        .underline {
            width: 1px;
            height: 50px;
        }
    }
    .planet-circle{
        position: relative;
        top:-50px;
        left: 0;
    }
    .body__bottom{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        &-left-info{
                width: 300px;
        }
    }
    .table-container{
        max-height: 400px;
    }
}
@include small-desktop-title{
    .body__top-text{
        font-size: 24px;
    }
}
@include user-page-media{
    .user-page{
        &-title{
            font-size: 36px;
            margin: 50px 0;
        }
        &-data{
            color:$orangeColor;
            font-size: 25px;
            margin-bottom: 25px;
        }
    }
    .user-page-planet{
        display: none;
    }
}
