.user-page{
    color:#fff;
    margin-left: 65px;
    font-family: $font-family;
    &-title{
        font-size: 48px;
        margin: 50px 0;
    }
    &-data{
        color:$orangeColor;
        font-size: 32px;
        margin-bottom: 25px;
    }
    h4{
        font-size: 24px;
    }
}
.user-page-planet {
    position: fixed;
    right: -15%;
    top: 20%;
}